/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:0px 200px;
    height: 700px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('bck.jpg') no-repeat center center/cover;
    height: 789px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    text-shadow: 2px 2px 5px rgb(155, 11, 238);
    font-size: 2.5rem;
}

#home a{
    color: white;
}

#home h1 span{
    
    text-shadow: 2px 2px 5px red;
    font-size: 2.5rem;
}

/* Site Section */
#sites{
    margin: 0px;
    display: flex;
    
}

#sites .site-item{ 
    border: 2px solid brown;
    background: #ccdee4;
    padding: 20px;
    margin: 2px 55px;
    border-radius: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    justify-content: center;
    
}

#sites .site-item img{ 
   height: 160px;
   width: 220px;
   margin: auto;
   display: block;
}

#sites .site-item a:hover{

    color: rgb(252, 8, 8);

}

#site-section span{
    text-shadow: 2px 2px 4px white; 
    color: rgb(255, 10, 23);
}

/* Services Section */


#services{
    margin: 0px;
    display: flex;
    
}

#services .box{ 
    border: 2px solid brown;
    background: #ccdee4;
    padding: 20px;
    margin: 2px 55px;
    border-radius: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 360px;
    width: 300px;
    justify-content: center;
    
}

#services .box img{ 
   height: 100px;
   width: 100px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;
    color: rgb(78, 3, 68);
} 

#services .box a:hover{
    color: rgb(252, 8, 8);
} 

#services .box:hover{

    box-shadow: 5px 5px 5px grey;

}

#services-container span{
    text-shadow: 2px 2px 4px white; 
    color: rgb(255, 10, 23);
}


/* Contact Section */
#contact{
    position: relative;
    height: 500px;
    justify-content: center;
    align-items: center;
    
   
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background: url('ln.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

#contact span{

    text-shadow: 1px 1px 3px #FF0000;
}


footer{
    background: black;
    color: white;
    padding: 09px 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    align-items: center;
    
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
    align-items: center;
}

#services-container{

    background: url('ab.jpg') no-repeat center center/cover;
   
}

#site-section{

    background: url('aab.jpg') no-repeat center center/cover;
   
}

 

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.btn:hover{
   
    background-color: rgb(58, 48, 48);
    color:white;
    box-shadow: 5px 5px 5px grey;
   
}

.submit{

    align-items: center;

}

.btnn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(16, 8, 29);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;

}

.btnn:hover{
   
    background-color: rgb(58, 48, 48);
    color: white;
    box-shadow: 5px 5px 5px grey;
}

.center{
    text-align: center;
}
